
<%= form_for @customer, url: customers_path, class: "form-inline" do |f| %>
  <% if @customer.errors.full_messages.any? %>
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.label :first_name %></br>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %></br>
    <%= f.text_field :last_name %>
  </div>

  <div class="form-group">
    <%= f.label "email" %></br>
    <%= f.text_field "email" %>
  </div>

  <div class="form-group">
    <%= f.label "address" %></br>
    <%= f.text_field "address" %>
  </div>

  <div class="form-group">
    <%= f.label :country %></br>
    <%= f.country_select :country, {priority: %w(US CA), prompt: 'Please select a country'} %>
  </div>

  <div id="subregions">
  </div>

  <div class="form-group">
  <%= f.label "zip_code"%></br>
  <%= f.text_field "zip_code"%>
  </div>

  <div class="form-group">
    <%= f.label "phone" %></br>
    <%= f.text_field "phone" %>
  </div>

  <div class="form-group">
    <p><%= radio_button_tag :amount, "20" %> One Month </p>
    <p><%= radio_button_tag :amount, "40" %> Two Months </p>
    <p><%= radio_button_tag :amount, "60" %> Six Months </p>
    <p><%= radio_button_tag :amount, "100" %> One Year </p>
  </div>
  <%= f.submit "Next" %>

<% end %>