
<p><%= @customer.first_name %></p>

<table class="table table-striped table-condensed">
  <tr>
    <td>Name: </td>
    <td> <%= " #{@customer.first_name} #{@customer.last_name}" %></td>
  </tr>
  <tr>
    <td>Address: </td>
    <td><p><%= @customer.address%></p>
        <p><%= "#{@customer.subregion}, #{@customer.country}"%></p>
    </td>
  </tr>
  <tr>
    <td>Email: </td>
    <td><%= @customer.email %></td>
  </tr>  
  <tr>
    <td>Phone: </td>
    <td> <%= @customer.phone %></td>
  </tr>  
</table>

<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>One time shipment for </span>
    </label>
  </article>
  <%= hidden_field_tag :customer, @customer.id %>
  <%= hidden_field_tag :amount, @amount %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="2000"></script>
<% end %>