<%= form_tag charges_path do %>
<div class="row">
    <h3>One Time Shipment</h3>
    <p>One shipment of 3 items for $20</p>
    <%= radio_button_tag(:amount, 2000) %>
  </div>
    <hr/>
  <div class="row">
    <h3>Two Time Shipment</h3>
    <p>Two shipments of 3 items for $35</p>
    <%= radio_button_tag(:amount, 3500) %>

  </div>
  <hr/>
  <div class="row">
    <h3>Three Time Shipment</h3>
    <p>Three shipments of 3 items for $50</p>
    <%= radio_button_tag(:amount, 5000) %>

  </div>
  <hr/>
  <div class="row">
    <h3>Yearly Subscription</h3>
    <p>12 shipments of 3 items for $110</p>
    <%= radio_button_tag(:amount, 11000) %>
  </div>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
></script>
<% end %>